body {
  background: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: #fff;
  width: 500px;
  height: 640px;
}

.encabezado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0; 
}
.fa-html5{
  font-size: 2rem;
}

.titulo{
  display: flex;
  flex-direction: column;
}
.titulo p{
  margin: 0;
}

.fa-ellipsis-vertical{
  font-size: 2rem;
}

.img-post img{
  width: 100%;
}

.iconos{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
}

.parrafos {
  padding: 1.2rem;
  text-align: justify;
  margin-top: -1.5rem;
}